@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*base*/

@import "./vars.css";
@import "./base.css";

/*blocks*/
@import "./btn.css";

/*Section*/
@import "./nav.css";
@import "./header.css";
@import "./section.css";
@import "./slider.css";


.paw-title {
    font-family: var(--font-family);
    font-weight: 400;

}

.paw-list {

}

.paw-list li {
    position: relative;
}

.paw-list li::before {
    content: "";
    
    position: absolute;
    left: 10px;
    top: 0px;
    width: 22px;
    height: 22px;

    transform: translate(-100%, 0%);
    
    background-image: url('./../img/svg/paw-bullet.svg');
    background-repeat: no-repeat;
    
}