@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*base*/

@import "./vars.css";
@import "./base.css";

/*blocks*/
@import "./btn.css";

/*Section*/
@import "./nav.css";
@import "./header.css";
@import "./section.css";


.services-pics {
    padding-top: 160px;
    padding-bottom: 125px;
}

.services-pics__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.service-block {
}

.service-block__img {
}
.service-block__title {
}