@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*base*/

@import "./vars.css";
@import "./base.css";

/*blocks*/
@import "./btn.css";

/*Section*/
@import "./nav.css";
@import "./header.css";
@import "./section.css";
@import "./slider.css";
@import "./section-pane-footer.css";
@import "./footer.css";

.paw-title {
    margin-bottom: 10px;
    
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #000;
}

.paw-list {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 2;
    color: #000;
}

.paw-list li {
    padding-left: 25px;
    position: relative;
}

.paw-list li::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 50%;
    width: 22px;
    height: 22px;

    transform: translateY(-50%);
    
    background-image: url('./../img/svg/paw-bullet.svg');
    background-repeat: no-repeat;
    
}