.section {
}

.section-pane {
    padding-bottom: 140px;
}

.section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.title {
    margin-bottom: 27px;
    max-width: 600px;
    text-wrap: balance;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 117%;
    text-transform: capitalize;
    color: var(--333333);
}

.section__text {
    margin-bottom: 36px;
    max-width: 653px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: var(--333333);
}

.section__text p + p {
    margin-top: 1em;
}

.img-round-horizontal {
    border-radius: 300px;
    width: 100%;
    height: 502px;
    object-fit: cover;
}

.services-pics {
    padding-top: 160px;
    padding-bottom: 125px;
}

.services-pics__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.service-block {
    text-align: center;
}

.service-block__img {
    margin-bottom: 25px;
}

.service-block__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 2.92;
    text-transform: capitalize;
    color: #000;
}